{% extends "live/base_room.html" %}
{% load live_extras %}
{% load static %}
{% block content %}
{% comment %} <script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script> {% endcomment %}
<!-- <div class="jumbotron">
  <div class="container-fluid">
    <h3>ถ่ายทอดสด พิธีพระราชทานปริญญาบัตรแก่ผู้สำเร็จการศึกษา ม.รามคำแหง<br/> ประจำปีการศึกษา 2564 - 2565 (รุ่นที่ 48)<br/> ระหว่างวันที่ 6 - 8 มีนาคม 2567 ณ อาคารหอประชุมพ่อขุนรามคำแหงมหาราช</h3>
    <img src="http://cyberclassroom.ru.ac.th/static/live67.png">
    <hr class="my-4">
    <p class="lead"> <u></u></p>
  </div>
  <img src="http://cyberclassroom.ru.ac.th/static/live67.png">
</div> -->
<div>
  <img src="http://cyberclassroom.ru.ac.th/static/live67.png" width="100%">
</div>
<span class="float-righ badge badge-pill badge-danger">ผู้รับชมขณะนี้ {{sessions_total}} </span> 
<p class="text-center">

  <!-- player  -->
  <link href="{% static 'videojs/video-js.css' %}" rel="stylesheet">
  <script src="{% static 'videojs/video.js' %}"></script>
  <script src="{% static 'videojs/videojs-contrib-hls.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'videojs/videojs-matrix.css' %}">
  <!-- end player -->
  <!-- show player -->
  <video id="my_video_ru47" class="video-js vjs-default-skin vjs-matrix" data-setup='{}' width="850" height="400" >
  </video>
  <script>
  const player = videojs('my_video_ru47', {
      "controls": true,
      "autoplay": true,
      "preload": false,
      "text": "Ru47",
  });
  player.src({
      src: 'http://202.41.160.65:1935/live/rucom/playlist.m3u8',
      type: 'application/x-mpegURL',
  });
  player.fluid(true);
  //player.aspectRatio('4:3');
  player.responsive(true);
  </script>
  <!-- end show player --> 

</div>
{% endblock content %}