{% extends "live/base_room.html" %}
{% load live_extras %}
{% load static %}
{% block content %}
<script>
// Initial data load
  function refreshContent() {
      // Generate or fetch new content here
      var sessions_total="{{sessions_total}}";
      var newContent = "ผู้รับชมขณะนี้ " + sessions_total+" "+new Date().toLocaleString();
      return newContent;
  }
  
  function updateSpan() {
      var spanElement = document.getElementById("contentSpan");
      spanElement.innerHTML = refreshContent();
  }
  
  // Set the interval to refresh the content every 5 seconds (5000 milliseconds)
  setInterval(updateSpan, 5000);
</script>
<a class="btn btn-warning mb-2"  role="button" onclick="history.back()"> << Back</a>
{% comment %} <script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script> {% endcomment %}
<div class="jumbotron jumbotron-fluid danger">
  <div class="container">
    <h1 class="display-4">ห้องเรียน {{q|upper}} </h1>
    {% comment %} <p class="lead"> <u>{{IsDayString}}</u> มีบรรยาย วิชาทั้งหมด {{subjectCount}} วิชา</p> {% endcomment %}
    <p class="lead"> <u>{{IsDayString}}</u> มีบรรยาย วิชาทั้งหมด {{subjectCount_out}} วิชา</p>
    <span id="contentSpan" class="badge badge-pill badge-success">ผู้รับชมขณะนี้...</span>
  </div>
</div>
{% if room_comment %}
  <style>
  .blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {  
    50% { opacity: 0; }
  }
  </style>
  {% comment %} {{room_comment|linebreaks}} {% endcomment %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><h3><span class="blink_me"><span class="badge badge-danger">หมายเหตุ</span></strong></h3>
     {{room_comment|linebreaks }}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
</p>

{% if subjectCount == 0 %}
    <div class="alert alert-danger text-center" role="alert">
      {% comment %} <h3>ไม่มีวิชาที่เรียน ในวันนี้  <u>{{IsDayString}}</u></h3> {% endcomment %}
    </div>
{% else %} 
  <div class="row">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">วัน-เวลาเรียน</th>
              <th scope="col">วิชา</th>
              <th scope="col">อาจารย์ผู้สอน</th>
            </tr>
          </thead>
          <tbody>
      {% for subject in data_subject %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{subject.course_day|ChangDay}}<br/><small>{{subject.time_start}}-{{subject.time_end}}</small></td>
            <td>{{subject.course_no}}<br/><small>{{subject.course_name_thai}}</small></td>
            <td>{{subject.instructor}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
<span class="float-righ badge badge-pill badge-danger">ผู้รับชมขณะนี้ {{sessions_total}}</span>
<p class="text-center">
{% if location == 1 or location == 2  or location == 3 or location == 5 or location == 7 or location == 8 %}
  <!-- player  -->
  <!-- Video.js CSS -->
  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <!-- Hls.js script -->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <!-- Video.js script -->
  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <!-- end player -->
  <!-- show player -->
  <video id="my_video_{{location}}" class="video-js vjs-default-skin" controls autoplay muted preload="auto"
  width="850" height="400" data-setup='{}'>
  <source src="{{server}}{{q|lower}}/playlist.m3u8" type="application/x-mpegURL">
  </video>

  <script>
    var video = document.getElementById('my_video_{{location}}');
    if(Hls.isSupported()) {
        var hls = new Hls();
        // Load HLS stream from server
        hls.loadSource('{{server}}{{q|lower}}/playlist.m3u8');
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = '{{server}}{{q|lower}}/playlist.m3u8';
        video.addEventListener('loadedmetadata', function() {
            video.play();
        });
    } else {
        console.log('HLS not supported');
    }
      // ทำให้ player ปรับขนาดตามหน้าจอ
      video.responsive(true);
  </script>

  <!-- end show player --> 

{% elif  location == 4 %}
  <!-- player  -->
  <link href="{% static 'videojs/video-js.css' %}" rel="stylesheet">
  <script src="{% static 'videojs/video.js' %}"></script>
  <script src="{% static 'videojs/videojs-contrib-hls.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'videojs/videojs-matrix.css' %}">
  <!-- end player -->
  <!-- show player -->
  <video id="my_video_{{location}}" class="video-js vjs-default-skin vjs-matrix" data-setup='{}' width="850" height="400" >
  </video>
  <script>
  const player = videojs('my_video_{{location}}', {
      "controls": true,
      "autoplay": false,
      "preload": false,
      "text": "{{q}}",
  });
  player.src({
      src: '{{server}}{{q|lower}}.m3u8',
      type: 'application/x-mpegURL',
  });
  player.autoplay(true);  // เพิ่มพารามิเตอร์ autoplay
  player.fluid(true);
  //player.aspectRatio('4:3');
  player.responsive(true);
  </script>
  <!-- end show player --> 
{% elif location == 6 %}
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
     <video id="my_video_1" width="640" height="264" class="video-js vjs-fluid vjs-default-skin vjs-big-play-centered" controls preload="auto" autoplay="true" poster="https://www.dailygizmo.tv/wp-content/uploads/2017/05/y0-500x512.jpg" data-setup='{}'>

    <source src="https://vtop-playground.ml/hls_dash/master.m3u8" type="application/x-mpegURL">
  </video>
    <script>
        var player = videojs('my_video_1');
        player.play({autoplay: "true"});
    </script>
{% endif %}


{% comment %} แสดงผลที่ไม่ใช่วันที่เรียนในห้องเรียนนี้ {% endcomment %}
<div class="alert alert-success" role="alert">
ห้องเรียน {{q}}  มีบรรยาย วิชาทั้งหมด {{subjectCount_out}} วิชา
</div>
<div class="row">
</div>
<div class="row">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">วัน-เวลาเรียน</th>
        <th scope="col">วิชา</th>
        <th scope="col">อาจารย์ผู้สอน</th>
      </tr>
    </thead>
    <tbody>
{% for subject_out in data_subjec_out %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{subject_out.course_day|ChangDay}}<br/><small>{{subject_out.time_start}}-{{subject_out.time_end}}</small></td>
      <td>{{subject_out.course_no}}<br/><small>{{subject_out.course_name_thai}}</small></td>
      <td>{{subject_out.instructor}}</td>
    </tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}